<html>
  <body>
    <!--The action on this form triggers the def on line 46 in main.py-->
    <form action="/add_new_data" method="post">
      <!--Below input fields are created for 'Make', 'Listed Price' and 'Milage'-->
      <div>
        <label for="Make">Make:</label>
        <input type="text" name="Make" placeholder="Make" />
      </div>
      <div>
        <label for="Listed Price">Listed price:</label>
        <input type="number" name="Listed Price" placeholder="Price" />
      </div>
      <div>
        <label for="Mileage">Mileage:</label>
        <select name="Mileage">
          <!--The options are the dropdown values you can choose from-->
          <option value="sm15.000 km">sm15.000 km</option>
          <option value="15.000 - 35.000 km">15.000 - 35.000 km</option>
          <option value="lg35.000 km">lg35.000 km</option>
        </select>
      </div>
      <input type="submit" value="Submit new car" />
    </form>
  </body>
</html>
