<htmL>
  <body>
    <!--
      Some comments regarding a table in HTML:
      - thead = table header;
      - tbody = table body;
      - tr = table row;
      - th = cell in table header;
      - td = cell in table body;
    -->
    <table class="table"> <!-- This class is a "Bootstrap" class! -->
      <thead>
        <tr>
          <th style="text-align: left;">ID</th>
          <th style="text-align: left;">Make</th>
          <th style="text-align: right;">Listed price</th>
          <th style="text-align: right;">Mileage</th>
          <th style="text-align: right;">Total claim</th>
        </tr>
      </thead>
      <tbody>
        {% for car in data %}
        <tr>
            <td style="text-align: left;">
              <a href="{{ '/data/%s'%car['ID'] }}">{{ car['ID'] }}</a>
            </td>
            <td style="text-align: left;">{{ car['Make'] }}</td>
            <td style="text-align: right;">{{ car['Listed Price'] }}</td>
            <td style="text-align: right;">{{ car['Mileage'] }}</td>
            <td style="text-align: right;">{{ car['Total claim'] }}</td>
          </a>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</htmL>
