<html>
  <!--
    In the HTML <head> tag, you can import CSS.
    CSS is responsible for styling the page.
    Feel free to use CSS, but do not feel obligated.
    For more information about CSS, visit:
    https://developer.mozilla.org/en-US/docs/Learn/CSS/First_steps/Getting_started

    Your need to add 'classes' to HTML tags (see line 15) to use the CSS.
  -->
  <head>
    <link rel="stylesheet" href="./css/styles.css" />
  </head>
  <body>
    <div class="topnav">
      <a href="/">To the homepage!</a>
      <a href="/data">To the data!</a>
    </div>
  </body>
</html>
