<html>
  <!-- In the HTML <head> tag, you can import CSS.
    CSS is responsible for styling the page.
    Feel free to use CSS, but do not feel obligated.
    For more information about CSS, visit:
    https://developer.mozilla.org/en-US/docs/Learn/CSS/First_steps/Getting_started

    Your need to add 'classes' to HTML tags (see line 15) to use the CSS. -->
  <head>
    <!-- Import main.css file -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/main.css') }}"
    />
    <!-- Import Bootstrap: https://www.w3schools.com/bootstrap/bootstrap_ref_all_classes.asp -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <!-- Here, the class "topnav" from main.css (topnav.css) is being used
         This element corresponds to the top bar on the pages in te browser -->
    <div class="topnav">
      <a href="/">To the homepage!</a>
      <a href="/data">To the data!</a>
    </div>
  </body>
</html>
